h1{
    text-align: center;
    padding-bottom: 6vh;
}

section{
    margin: 0 auto;
    background-color: #a9a9a9;
    text-align: left;
    width: 80vw;
    padding: 1vh;
    border-radius: 11px 11px 88px 11px;
    border: 4px solid #000000;
    padding: 3vh;
    font-family: 'Source Sans Pro', sans-serif;
}
